@import '../../base';

.navbar {
    background-color: $base-dark !important;
    // background-color: #242541!important;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
    font-size: 26px !important;
    font-weight: 600;
    >img {width: 150px;}
}
.navbar-toggler {
    font-size: 15px !important;
    padding: 5px 10px !important;
    border: 1px solid #fff !important;
}

.navbar-user-img {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
    @include setBgImg;

    >img {
        width: 100%; 
        height: 100%;
        border-radius: 50%;
    }

    > svg {
        font-size: 25px;
    }
}
.nav-link {
    color: rgba($color: #fff, $alpha: .8)
}

.text-bold {
    font-weight: 700; 
    letter-spacing: 1px;
}